doctype html
html(lang="en")
  //- Defaults for page variables
  -var pageTitle = "Kashi Samaraweera"
  -var baseScripts = ['scripts/jquery-3.0.0-beta1.min.js', 'scripts-all.js']
  //- Optional override of default variables
  block Vars
  -var relativeDir = relativeDir || ''
  -var section = section || false
  -var sectionClass = (section)? section.charAt(0).toUpperCase() + section.slice(1) : undefined
  -var allScripts = baseScripts
  -var mainMenu = !!mainMenu
  -if (typeof(scripts) !== "undefined") {
    allScripts = baseScripts.concat(scripts)
  -}
  head
    title= pageTitle
    -if (production) {
      link(href=relativeDir+"styles-all.min.css",rel="stylesheet")
    -} else {
      link(href=relativeDir+"styles-all.css",rel="stylesheet")
    -}
    link(href="https://fonts.googleapis.com/css?family=Merriweather:300,700,700italic,300italic|Open+Sans:700,400",rel="stylesheet",type="text/css")
    meta(http-equiv="Content-Type",content="text/html; charset=UTF-8")
    meta(name="viewport",content="width=device-width,initial-scale=1.0")
  body.preload(class=sectionClass)
    -if (mainMenu) {
      include ../_partials/main_menu
    -}
    block MainContent
    -if (production) {
      script(src="scripts-all.min.js",type="text/javascript")
    -} else {
      each script in baseScripts
        script(src="#{relativeDir+script}",type="text/javascript")
    -}